.countryCard{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.304);
    padding: 1rem;
    border-radius: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 1rem;
}

.countryCard img{
    width:150px;
    height:150px;
}